mixin video(video)
    a(href="/videos/"+ video.id).video-mixin
        div.video-mixin__thumb(style=`overflow: hidden;display: flex;align-content: center;justify-content: center;`,crossorigin="anonymous")
            img.header__avatar(src = video.thumbUrl, crossorigin, style='width: 100%; height: auto;object-fit: cover;object-position: center;')
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                if video.owner
                    span #{video.owner.name}
                span #{video.meta.views} views
                p=video.description
                small=video.createdAt
                ul
                    each hashtag in video.hashtags
                        li=hashtag 
                hr

